/*--- RESET ---*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*--- RESET END ---*/

@font-face {
    font-family: 'MariadPro-Regular';
    src: url('../fonts/mariadProRegular.otf');
}

body {
    font-family: MariadPro-Regular;
    background-color: #dcd0d0;
    margin-top: 30px;
}

.main-container {
    width: 1000px;
    margin: 0 auto;
    display: flex;
}

.column-left, .column-right {
    width: 50%;
}

.column-left {
    margin-right: 30px;
}

.title-article {
    font-size: 30px;
    margin-bottom: 25px;
    font-weight: bold;
}

.text-article {
    font-size: 20px;
    line-height: 22px;
    text-align: justify;
}

.progress {
    height: 15px;
    background: #f5a700;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    padding: 3px;
    margin:40px 0 40px;
}

.progress > span {
    display: block;
    height: 100%;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background: linear-gradient(to right, #2d6819, #458226, #67a848, #6bae4e, #67a64c);
    position: relative;
    overflow: hidden;
}

.progress > span:after {
    content: "";
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    background-image: linear-gradient(
            -45deg,
            rgba(255, 255, 255, .2) 25%,
            transparent 25%,
            transparent 50%,
            rgba(255, 255, 255, .2) 50%,
            rgba(255, 255, 255, .2) 75%,
            transparent 75%);
    z-index: 1;
    background-size: 20px 20px;
    animation: move 2s linear infinite;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    overflow: hidden;
}

@keyframes animation {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 50px 50px;
    }
}

.progress > span:after, .animate > span > span {
    animation: animation 2s linear infinite;
}

@keyframes expandWidth {
    0% { width: 0; }
    100% { width: auto; }
}

.wrapper-btn {
    text-align: center;
    margin-top: 40px;
}

.btn-form {
    padding: 20px;
    outline: none;
    border: none;
    background-color: #5fac3f;
    text-transform: uppercase;
    color: #fffff1;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 5px;
    cursor: pointer;
}

.wrapper-form .title-article {
    text-align: center;
}

.wrapper-form {
    width: 555px;
    background-color: #fff;
    padding: 17px;
    display: none;
    border-radius: 5px;
    position: absolute;
    z-index: 20;
    top: 50%;
    left: 50%;
    margin-left: -329px;
    margin-top: -300px;
}

.wrapper-form .text-article {
    text-align: center;
    line-height: 30px;
    color: #a3a3a3;
}

.info-user {
    display: block;
    width:310px;
    padding: 20px 20px 20px 0;
    margin-bottom: 10px;
    background-color: #f3f3f3;
    border: none;
    outline: none!important;
    border-radius: 7px;
}

.info-user[placeholder] {
    font-size: 16px;
    color: #9b9b9b;
    padding-left: 30px;
}

.btn-submit {
    display: block;
    width: 360px;
    padding: 20px;
    border-radius: 7px;
    border: none;
    outline: none;
    background-color: #f6724e;
    color: #fffffe;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
    margin-bottom: 15px;
}

.checkbox[type="checkbox"]{
    background: #f6724e;
    width: 25px;
    height: 25px;
}

.form-popup {
    padding: 15px 90px 50px;
}


.form-popup > label {
    color: #374101;
    font-size: 16px;
    width: 330px;
    margin-left: 15px;
}

.wrapper-checkbox {
    display: flex;
    text-align: justify;
}

.wrapper-checkbox span {
    margin-left: 15px;
}

.wrapper-box .title-article {
    text-align: center;
}

.close:after{
    content: 'x';
    font-size: 40px;
    color: #adadad;
    text-align: left;
    cursor: pointer;
}

.close {
    border: none;
    outline: none;
    background: none;
}

.box-close {
    text-align: right;
}

.wrapper-box {
    padding:  0 15px;
}

.hide {
    display: none;
}

.column-right .title-article {
    font-size:25px;
}

.column-right .text-article {
    margin-bottom: 25px;
}


.column-right .text-article:last-child {
    text-indent: 30px;
}

.line {
    font-size: 38px;
    vertical-align: bottom;
    margin-right: 15px;
}

.zoom img{
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
    max-width: 100%;
}

.zoom:hover img {
    -webkit-transform:scale(1.25);
    -moz-transform:scale(1.25);
    -ms-transform:scale(1.25);
    -o-transform:scale(1.25);
    transform:scale(1.25);
}

.zoom {
    overflow: hidden;
    width: 500px;
    height: 400px;
}

.bg-modal {
    display: none;
    position: absolute;
    z-index: 1;
    opacity: 0.6;
    background: #000;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

/*--- MEDIA QUERIES ---*/

@media screen and (max-width: 599px) {

    .main-container {
        width: 320px;
        flex-direction: column;
        padding: 0 15px 20px;
    }

    .column-left, .column-right {
        width: 100%;
        margin-right: 0;
    }

    .zoom {
        overflow: hidden;
        width: 100%;
        height: 100%;
    }

    .wrapper-btn {
        margin: 40px 0;
    }

    .wrapper-form {
        padding: 20px;
        width: 250px;
        margin-left: -145px;
    }

    .form-popup {
        padding: 15px 0 33px;
    }

    .info-user, .btn-submit {
        width: 170px;
    }

    .form-popup > label {
        width: 200px;
    }

    .bg-modal {
        background: transparent;
    }

    .close:after {
        font-size: 30px;
    }
}


@media screen and (min-width: 600px) and (max-width: 990px) {

    .main-container {
        width: 600px;
        flex-direction: column;
        padding: 0 15px 20px;
    }

    .column-left, .column-right {
        width: 100%;
        margin-right: 0;
    }

    .bg-modal {
        background: transparent;
    }

    .wrapper-form {
        padding: 20px;
        margin-left: -284px;
    }

    .wrapper-btn {
        margin: 40px 0;
    }
}
